/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/*===== VARIABLES CSS =====*/

/*=== Colores ===*/
:root{
    --first-color: #12192C;
    --text-color: #8590AD;
}

/*=== Fuente y tipografia ===*/
:root{
    --body-font: 'Roboto', sans-serif;
    --big-font-size: 2rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.875rem;
}
/*@media screen and (min-width: 768px){*/
/*    :root{*/
/*        --big-font-size: 2.5rem;*/
/*        --normal-font-size: 1rem;*/
/*    }  */
/*}*/

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    color: var(--first-color);
}
h1{
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.login-form {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
/*.shape1,.shape2 {*/
/*    height: 200px;*/
/*    width: 200px;*/
/*    background: red;*/
/*    !*position: absolute;*!*/
/*}*/
/*.shape1 {*/
/*    background: linear-gradient(180deg,var(--first-color) 0% ,rgba(196,196,196));*/
/*}*/
.form {
    display: grid;
    height: 100vh;
    justify-content: center;
    /*background: #f19e9e;*/
    padding:  0 1rem;
    align-items: center;
}
.form-content {
    width: 300px;
}
.form-image {
    display: none;
}
.form-title {
    font-size: var(--big-font-size);
    font-weight: 500;
    margin-bottom: 2rem;

}
.form-div {
    display: grid;
    position: relative;
    grid-template-columns: 7% 93%;
    margin-bottom: 1rem;
    padding: 0.25rem 0;
    border-bottom: 1px solid var(--text-color);
}
.form-icon {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
     font-size: 1.5rem;
    color: var(--text-color);
}
.form-div-1,.form-div-2 {
    margin-bottom: 3rem;
}
.form-label {
    display: block;
    position: absolute;
    left: 0.75rem;
    font-size: var(--normal-font-size);
    top: 0.25rem;
    color: var(--text-color);
}
.form-input-div {
    position: relative;
}
.form-input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
    /*color: var(--text-color);*/
}
/* Focus*/
.form-div.focus {
    border-bottom: 2px solid black;
}
.form-div.focus .form-label {
    font-size: 1rem;
    color: var(--first-color);
    top: -1.5rem;

}
.form-div.focus .form-icon {

    color: var(--first-color);

}
/**/
.forgot-password {
    display: block;
    text-align: right;
    margin-bottom: 2rem;
    color: var(--text-color);

}
.forgot-password:hover {
    color: var(--first-color);

}
.form-button {
    text-align: center;
    width: 100%;
    padding: 0.75rem 0;
    font-size: 1rem;
    background: var(--first-color);
    color: #ffffff;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.form-button:hover {
    box-shadow: 0 15px 36px rgba(0,0,0,.15) ;
}
.form-option {
    text-align: center;
    color: var(--text-color);
    font-size: 1.1rem;
}
.option-link {
    color: var(--first-color);
}
.option-link:hover {
    text-decoration: underline;
}

@media screen and (min-width: 968px) {
    /*body {*/
    /*    background: #8f8d8d;*/
    /*}*/
    .form {
        grid-template-columns: 1.5fr 1fr;
        padding: 0 2rem;
    }
    .form-image {
        display: block;
        width: 700px;
        justify-self: center;
    }
    
}