{% extends "main.html" %}
{% block content %}
<section class="page-header-3 section">
    <div class="page-header-container container">

        <h2 class="page-title">#KnowUs</h2>
        <h4 class="page-subtitle">LEAVE A MESSAGE , We love to hear from you !</h4>
    </div>
</section>
<section class="about-section section">
    <div class="about-container container">
        <div class="about-image">
            <img src="../static/images/about/a6.jpg" alt="">
        </div>
        <div class="about-description">
            <h1 class="about-title">Who We Are ?</h1>
            <p class="about-des">E-commerce (electronic commerce) sites are online platforms that allow people to buy
                and sell products or services over the internet. These sites are becoming increasingly popular as more
                and more people turn to online shopping for its convenience and accessibility.
                E-commerce sites typically offer a range of products from various categories such as fashion,
                electronics, home and garden, beauty, and more. Customers can browse through the available products,
                read product descriptions and reviews, compare prices and features, and make purchases directly from the
                site.

                .</p>
        </div>
    </div>
<!--    <marquee behavior="scroll" direction="left">-->
<!--        Welcome to our website! nd more people turn to online shopping for its convenience and accessibility.-->
<!--                E-commerce sites typically offer a range of products from various categories such as fashion,-->
<!--                electronics, home and garden, beauty, and more. Customers can browse through the available products,-->
<!--                read product -->
<!--    </marquee>-->
    <div class="advertisement">

</div>
</section>


{% endblock %}