<!DOCTYPE html>
{% extends "main.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>

</head>
<body>

<section class="page-header-2 section">
    <div class="page-header-container container">

        <h2 class="page-title">#Let's_talk {{ request.user.username }}</h2>
        <h4 class="page-subtitle">LEAVE A MESSAGE , We love to hear from you !</h4>
    </div>
</section>


<section class="cart-section container">
    <table width="100%" class="cart-table">
        <thead>
        <tr>
            <td>Remove</td>
            <td>Image</td>
            <td>Product</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Subtotal</td>
        </tr>
        </thead>
        <tbody>
        {% for cart_item in  cart_items %}



            <tr class="table-row">
                <td><a href=""><i class="uil uil-times-circle close-icon add-cart-button" data-product="{{ cart_item.product.id }}" data-action="delete"></i></a></td>
                <td><img src="{{ cart_item.product.imageURL }}" alt="" class="cart-image"></td>
                <td>{{ cart_item.product.name }}</td>
                <td>{{ cart_item.product.price|floatformat:2 }}</td>

                <td>
                    <div class="cart-item-quantity">
                        <p>
                            {{ cart_item.quantity }}
                        </p>
                        <div class="cart-iem-arrow">
                            <i data-product="{{ cart_item.product.id }}" data-action="add" class="uil uil-angle-up arrow-item add-cart-button" ></i>
                            <i data-product="{{ cart_item.product.id }}" data-action="remove" class="uil uil-angle-down arrow-item add-cart-button"></i>

                        </div>
                    </div>

                </td>
                <td>LKR {{ cart_item.get_total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</section>

<section class="cart-description section">
    <div class="cart-description-container container">
        <div class="coupon">
            <h3 class="coupen-title">Apply for coupens</h3>
            <div class="coupen-input-container">

                <input type="text" class="code-input" placeholder="Enter your coupen">
                <button class="button-3">Apply</button>
            </div>

        </div>
        <!--        <div class="cart-total"></div>-->
        <div class="cart-total">
            <div class="cart-total-container">
                <h3 class="coupen-title">Cart Totals ( {{ order.get_cart_item_total }} items)</h3>
             <p class="checkout-subtotal">LKR {{ order.get_cart_total }}</p>
            </div>



             <div class="checkout-button">

                    <a href="{% url "checkout" %}" class="button-3 ">Proceed to checkout</a>
                    <a href="" class="button-4 ">Detailed Cart</a>
                </div>

        </div>
    </div>
</section>

{% endblock content  %}
<script src="../static/js/script.js"></script>

</body>
</html>

