<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="stylecart.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>

<section class="page-header-2 section">
    <div class="page-header-container container">

        <h2 class="page-title">#Let's_talk</h2>
        <h4 class="page-subtitle">LEAVE A MESSAGE , We love to hear from you !</h4>
    </div>
</section>


<section class="cart-section container">
    <table width="100%" class="cart-table">
        <thead>
        <tr>
            <td>Remove</td>
            <td>Image</td>
            <td>Product</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Subtotal</td>
        </tr>
        </thead>
        <tbody>
        <tr class="table-row">
            <td><a href=""><i class="uil uil-times-circle close-icon"></i></a></td>
            <td><img src="img/products/f2.jpg" alt="" class="cart-image"></td>
            <td>Men's Fashion T shirt</td>
            <td>$145.00</td>
            <td><input type="number" class="input-quantity" value="1"></td>
            <td>$145.00</td>
        </tr>
        <tr class="table-row">
            <td><a href=""><i class="uil uil-times-circle close-icon"></i></a></td>
            <td><img src="img/products/f5.jpg" alt="" class="cart-image"></td>
            <td>Men's Fashion T shirt</td>
            <td>$185.00</td>
            <td><input type="number" class="input-quantity" value="1"></td>
            <td>$185.00</td>
        </tr>
        <tr class="table-row">
            <td><a href=""><i class="uil uil-times-circle close-icon"></i></a></td>
            <td><img src="img/products/f3.jpg" alt="" class="cart-image"></td>
            <td>Men's Fashion T shirt</td>
            <td>$145.00</td>
            <td><input type="number" class="input-quantity" value="1"></td>
            <td>$291.00</td>
        </tr>
        </tbody>
    </table>

</section>

<section class="cart-description section">
    <div class="cart-description-container container">
        <div class="coupon">
            <h3 class="coupen-header">Apply for coupens</h3>
            <div class="coupen-input-container">

                <input type="text" class="code-input" placeholder="Enter your coupen">
                <button class="button-2">Apply</button>
            </div>

        </div>
<!--        <div class="cart-total"></div>-->
        <div class="cart-total">
            <h3 class="coupen-header">Cart Totals</h3>
            <table class="cart-total-table">
                <tr>
                    <td>Cart Subtotal</td>
                    <td>$ 335</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>$ 335</strong></td>
                </tr>
            </table>
            <button class="button-2 ">Proceed to checkout</button>

        </div>
    </div>
</section>


<script src="script.js"></script>

</body>
</html>

