<!DOCTYPE html>
{% extends "main.html" %}


{% block content %}

    <section class="checkout-section">
        <div class="checkout-container">
            <div class="checkout-shipping">
                <a href="{% url "cart" %}" class="return">Return to cart</a>
                <form action="" id="shipping-form">
                    <div class="checkout-contact">
                        <h6 class="checkout-title">Contact Information</h6>
                        <span class="checkout-subtitle">Enter valid email which we can use to contact you.</span>

                        <input name="name" type="text" class="checkout-input" placeholder="Full Name">
                        <input name="email" type="text" class="checkout-input" placeholder="Email Address">
                        <input name="phone" type="text" class="checkout-input" placeholder="phone Number">
                    </div>
                    <div class="checkout-shipping-add">
                        <h6 class="checkout-title">Shipping Address</h6>
                        <span class="checkout-subtitle">Fill the following fileds according to where the order to be delivered.</span>


                        <div class="checkout-address-container">
                            <input name="address" type="text" class="checkout-input" placeholder="Address">
                            <input name="state" type="text" class="checkout-input" placeholder="State">
                        </div>
                        <div class="checkout-address-container">
                            <input name="city" type="text" class="checkout-input input-1" placeholder="city">
                            <input name="zipcode" type="text" class="checkout-input input-1" placeholder="zipcode">
                        </div>

                    </div>

                    <div class="shopping-button">
                        <button id="form-submit" type="submit" class="button-3">Continue to shipping</button>
                    </div>
                    <div class="checkout-contact hidden" id="payment-info">
                        <h6 class="checkout-title payment-box">Payments Information</h6>
                        {#                        <span class="checkout-subtitle">Enter valid email which we can use to contact you.</span>#}
                        <div id="paypal-button-container"></div>
                        <button id="make-payment" type="submit" class="button-3">Make Payment</button>


                    </div>
                </form>

            </div>
            <div class="checkout-Total">
                {% for item in cart_items %}
                    <div class="checkout-card">
                        <img src="{{ item.product.imageURL }}" class="card-image" alt="">
                        <div class="card-body">
                            <p class="card-product-name">{{ item.product.name }}</p>
                            <p class="card-product-brand">{{ item.product.brand }}</p>
                            <p class="card-product-brand">{{ item.quantity }}</p>
                            <p class="card-product-brand">{{ item.get_total }}</p>

                        </div>
                    </div>
                {% endfor %}
                <hr/>

                <div class="checkout-total-box">
                    <p class="checkout-subtotal">Subtotal</p>
                    <p class="checkout-subtotal">LKR {{ order.get_cart_total }}</p>
                </div>
                <div class="checkout-total-box">
                    <p class="checkout-subtotal">Shipping</p>
                    <p class="checkout-subtotal">LKR 0.00</p>
                </div>
                <hr/>
                <div class="checkout-total-box">
                    <p class="checkout-subtotal">Total</p>
                    <p class="checkout-subtotal">LKR {{ order.get_cart_total }}</p>
                </div>
                <hr/>

            </div>
        </div>
    </section>

     <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
        <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            style: {
                layout: 'horizontal'
            },

            // Call your server to set up the transaction
            createOrder: function(data, actions) {
                return fetch('/demo/checkout/api/paypal/order/create/', {
                    method: 'post'
                }).then(function(res) {
                    return res.json();
                }).then(function(orderData) {
                    return orderData.id;
                });
            },

            // Call your server to finalize the transaction
            onApprove: function(data, actions) {
                return fetch('/demo/checkout/api/paypal/order/' + data.orderID + '/capture/', {
                    method: 'post'
                }).then(function(res) {
                    return res.json();
                }).then(function(orderData) {
                    // Three cases to handle:
                    //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
                    //   (2) Other non-recoverable errors -> Show a failure message
                    //   (3) Successful transaction -> Show confirmation or thank you

                    // This example reads a v2/checkout/orders capture response, propagated from the server
                    // You could use a different API or structure for your 'orderData'
                    var errorDetail = Array.isArray(orderData.details) && orderData.details[0];

                    if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                        return actions.restart(); // Recoverable state, per:
                        // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
                    }

                    if (errorDetail) {
                        var msg = 'Sorry, your transaction could not be processed.';
                        if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                        if (orderData.debug_id) msg += ' (' + orderData.debug_id + ')';
                        return alert(msg); // Show a failure message (try to avoid alerts in production environments)
                    }

                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }
        }).render('#paypal-button-container');
    </script>

    <script type="text/javascript">
        const form = document.getElementById("shipping-form");
        const inputs = document.querySelectorAll(".checkout-input");
        const total = "{{ order.get_cart_total|floatformat:2 }}"

        form.addEventListener("submit", function (e) {
            e.preventDefault()
            {#console.log("form submitted")#}
            document.getElementById("form-submit").classList.add("hidden")
            document.getElementById("payment-info").classList.remove("hidden")
            inputs.forEach(input => {
                input.disabled = true;
            })

        });

        function submitFormData() {
            const contactData = {
                "name": null,
                "email": null,
                "phone": null,
                "total": total,

            }
            const shippingData = {
                "address": null,
                "state": null,
                "city": null,
                "zipcode": null,

            }
            contactData.name = form.name.value
            contactData.email = form.email.value
            contactData.phone = form.phone.value
            shippingData.address = form.address.value
            shippingData.state = form.state.value
            shippingData.city = form.city.value
            shippingData.zipcode = form.zipcode.value


            console.log("paid")

            const url = "/process_order/"
            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrftoken,
                },
                body: JSON.stringify({"shippingData": shippingData, "contactData": contactData})
            }).then(response => {
                return response.json()
            }).then(data => {
                console.log("data : ", data)
                alert("Transaction Completed");
                window.location.href = "{% url "store" %}"
            })
        }

        const makePayment = document.getElementById("make-payment");
        makePayment.addEventListener("click", function (e) {
            submitFormData()


        })

    </script>

{% endblock content %}


