<!DOCTYPE html>
{% extends "main.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>
{% block content %}

<section class="home">
    <div class="home-data">
        <p class="description-title">Trade-in-offer</p>
        <h4 class="description-subtitle">Super value deals</h4>
        <h4 class="main-title">On all products</h4>
        <h6 class="mini-title">See more & up to 50 %</h6>
        <button class="shop-button">Shop More</button>

    </div>
</section>

<section class="featured-products section">
    <h1 class="section-title">Featured Products</h1>
    <span class="section-subtitle">Summer Collection New Modern Design</span>

    <div class="products-container container grid">
        <div class="product-item">
            <img src="../static/images/products/f1.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star star-icon"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/f4.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/f3.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/f2.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/f5.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/f6.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/f7.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i></button>


                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/f8.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$80</h5>
                    </div>
                    <button class="cart-button"><i class="uil uil-shopping-cart btn-cart-icon"></i></button>

                </div>

            </div>
        </div>
    </div>
</section>

<section class="banner-section section">
    <div>

        <p class="banner-sub">Repair Services</p>
        <h1 class="banner-title">Up to <span class="discount">70% off</span> - All t-Shirts & Accessories</h1>
        <button class="button-2">Explore More</button>
    </div>
</section>

<section class="new-products section">
    <h1 class="section-title">New Arrivals</h1>
    <span class="section-subtitle">Summer Collection New Modern Design</span>

    <div class="products-container container grid">
        <div class="product-item">
            <img src="../static/images/products/n1.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star star-icon"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/n1.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/n3.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/n2.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/n5.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/n6.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/n7.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i></button>


                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/n8.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$80</h5>
                    </div>
                    <button class="cart-button"><i class="uil uil-shopping-cart btn-cart-icon"></i></button>

                </div>

            </div>
        </div>
    </div>
</section>

<section class="newsletter-section section">
    <div class="newsletter-container container">

        <div class="news-left">
            <h3 class="news-title">Sign Up For Newsletter</h3>
            <span class="news-subtitle">Get E-mail updates about our latest shop and <span
                    class="offer">special offers</span></span>

        </div>
        <div class="news-right">
            <div class="input-container">
                <input type="text" class="email-input" placeholder="Your email address">
                <button class="email-button">Sign Up</button>
            </div>
        </div>
    </div>
</section>
<section class="ad-section section">
    <div class="ad-container container">
        <div class="ad-top grid">
            <div class="ad-container1" id="banner-1">
                <div class="ad-description">
                    <h4 class="ad-title">Trade-in-offer</h4>
                    <h2 class="ad-subtitle">Super value deals</h2>

                    <p class="mini-title">Save more with coupens & up to 70% off!</p>
                    <button class="button-explore">Learn More</button>
                </div>
            </div>
            <div class="ad-container1" id="banner-2">
                <div class="ad-description">
                    <h4 class="ad-title">Trade-in-offer</h4>
                    <h2 class="ad-subtitle">Super value deals</h2>

                    <p class="mini-title">Save more with coupens & up to 70% off!</p>
                    <button class="button-explore">Collection</button>
                </div>
            </div>

        </div>

        <div class="ad-bottom grid">
            <div class="ad-container2" id="banner-3">
                <div class="ad-description">
                    <h2 class="ad-subtitle">Super value deals</h2>
                    <h4 class="ad-title">Trade-in-offer</h4>
                </div>
            </div>
            <div class="ad-container2" id="banner-4">
                <div class="ad-description">
                    <h4 class="ad-title">Trade-in-offer</h4>
                    <h2 class="ad-subtitle">Super value deals</h2>
                </div>
            </div>
            <div class="ad-container2" id="banner-5">
                <div class="ad-description">
                    <h2 class="ad-subtitle">Super value deals</h2>
                    <h4 class="ad-title">Trade-in-offer</h4>
                </div>
            </div>
        </div>
    </div>


</section>
<footer class="footer">
    <div class="footer-container container">
        <div class="footer-left">
            <img src="../static/images/logo.png" alt="" class="footer-logo">
            <div class="contact">
                <h4 class="address">Address : Wellington Road ,London</h4>
                <h4 class="phone">Tele : +94-763221176</h4>
                <h4 class="hours">08:00 - 18:00 MON - SAT</h4>
            </div>
        </div>

        <div class="footer-right">
             <ul class="footer-links">

                <li>
                    <a href="#home" class="footer-link">
                        <i class="uil uil-estate footer-icon"></i>Home</a>
                </li>
                <li>
                    <a href="#home" class="footer-link"><i class="uil uil-bag footer-icon"></i>Portfolio</a>
                </li>
                <li>
                    <a href="#home" class="footer-link"><i class="uil uil-message footer-icon"></i>Contact</a>
                </li>
                <li>
                    <a href="#home" class="footer-link"> <i class="uil uil-file-info-alt footer-icon"></i>About</a>
                </li>
                <li>
                    <a href="#home" class="footer-link"><i class="uil uil-brain footer-icon"></i>Skills</a>
                </li>
            </ul>
            <ul class="footer-socials">

                <li><a href="" class="social-link">
                    <i class="uil uil-github footer-icon"></i>Github
                </a>
                </li>
                <li><a href="" class="social-link">
                    <i class="uil uil-linkedin-alt footer-icon"></i> Linked In
                </a>
                </li>
                <li><a href="" class="social-link">
                    <i class="uil uil-twitter footer-icon"></i>Twitter
                </a>
                </li>
                <li><a href="" class="social-link">
                    <i class="uil uil-facebook-f footer-icon"></i>Facebook
                </a></li>
                <li><a href="" class="social-link">
                    <i class="uil uil-instagram footer-icon"></i>Instagram
                </a></li>
            </ul>
        </div>
    </div>
    <div class="footer-copy">@ Isuru Manod .All right Reserved</div>
</footer>

{% endblock content %}


</body>
</html>

