<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link type="text/css" rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>
<div class="login-form">
    <!--        <div class="shape1">a</div>-->
    <!--        <div class="shape2">b</div>-->

    <div class="form">
        <img src="../static/images/authentication.svg" alt="" class="form-image">

        <form action="" class="form-content" method="POST">
            {% csrf_token %}
            <h1 class="form-title">Welcome</h1>

            <div class="form-div form-div-1">
                <div class="form-icon"><i class="uil uil-user-circle form-icon"></i></div>
                <div class="form-input-div">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-input"  name="username" >
                </div>
            </div>


            <div class="form-div form-div-2">
                <div class="form-icon"><i class="uil uil-lock form-icon"></i></div>
                <div class="form-input-div">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-input" name="password">
                </div>
            </div>
            <a href="#" class="forgot-password">Forgot Password ? </a>
            <input type="submit" class="form-button" value="Login">
            <p class="form-option">Not registered yet ? <a href="" class="option-link">Register Here</a>  </p>
        </form>

    </div>

</div>
<script src="../static/js/login.js"></script>
</body>
</html>