<!DOCTYPE html>
{% extends "main.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
{% block content %}
<section class="new-products section">
    <h1 class="section-title">New Arrivals</h1>
    <span class="section-subtitle">Summer Collection New Modern Design</span>

    <div class="products-container container grid">
        <div class="product-item">
            <img src="../static/images/products/n1.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star star-icon"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/n1.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/n3.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/n2.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/n5.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/n6.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/n7.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$50</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i></button>


                </div>


            </div>
        </div>
        <div class="product-item">
            <img src="../static/images/products/n8.jpg" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">adidas</h4>
                <h3 class="product-name">Cartoon Astronaut T-Shirts</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">$80</h5>
                    </div>
                    <button class="cart-button"><i class="uil uil-shopping-cart btn-cart-icon"></i></button>

                </div>

            </div>
        </div>
    </div>
</section>

{% endblock content %}
</body>
</html>