<!DOCTYPE html>
{% extends "main.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>


</head>
<body>

{% block content %}
<section class="page-header section">
    <div class="page-header-container container">

        <h2 class="page-title">#stayhome</h2>
        <h4 class="page-subtitle">Save More with coupens & up to 70% off</h4>
    </div>
</section>
<section class="product-details section">
        <div class="product-details-container container">
            <div class="product-images">
                <div class="main-image">

                    <img src="../static/images/products/f1.jpg" alt="" class="product-main-image">
                </div>
                <div class="other-images">
                    <img src="../static/images/products/f2.jpg" alt="" >
                    <img src="../static/images/products/f3.jpg" alt="" >
                    <img src="../static/images/products/f4.jpg" alt="" >
                    <img src="../static/images/products/f5.jpg" alt="" >
                </div>
            </div>
            <div class="product-description">
                <h3 class="product--name">Men's Fashion T shirt</h3>
                <h2 class="product--price">$145.00</h2>
                <select class="product--size" id="size" name="size">
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
                <div class="item-content">
                    <label class="item-amount">1</label>
                    <button class="item-add-button button">Add To Cart</button>
                </div>
                <h3 class="product--name">Product description</h3>
                <p class="product-info">T-shirts are a type of shirt that typically have short sleeves and a round neckline.
                    They are usually made from cotton, but can also be made from other materials such as polyester or a
                    blend of fabrics. T-shirts come in a wide variety of colors and styles, and can be plain or have
                    graphics or text printed on them.</p>
            </div>
        </div>
    </section>

{% include "store.html" %}

<section class="pagination section">
    <div class="pagination-container">
        <div class="button-container"><a href="" class="page-number">1</a></div>
        <div class="button-container"><a href="" class="page-number">2</a></div>
        <div class="button-container"><a href="" class="page-number">3</a></div>
        <div class="button-container"><a href="" class="page-number">4</a></div>
        <div class="button-container"><a href="" class="page-number">5</a></div>
        <div class="button-container"><a href="" class="page-number"><i class="uil uil-arrow-right right-arrow"></i></a>
        </div>


    </div>

</section>


{% endblock content %}
</body>
</html>

