<!DOCTYPE html>
{% extends "main.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
{% block content %}
    <section class="featured-products section">
    <h1 class="section-title">Featured Products</h1>
    <span class="section-subtitle">Summer Collection New Modern Design</span>

    <div class="products-container container grid">
{% for product in products %}
        <div class="product-item">
            <img src="{{ product.imageURL }}" alt="" class="product-image">
            <div class="product-data">
                <h4 class="product-brand">{{ product.brand }}</h4>
                <h3 class="product-name">{{ product.name }}</h3>
                <div class="price-cart-box">
                    <div>
                        <div class="rating-container">
                            <i class="uil uil-star star-icon"></i><i class="uil uil-star"></i><i
                                class="uil uil-star"></i><i
                                class="uil uil-star"></i>
                        </div>
                        <h5 class="product-price">${{ product.price }}</h5>
                    </div>
                    <button class="cart-button">
                        <i class="uil uil-shopping-cart btn-cart-icon"></i>
                    </button>

                </div>


            </div>
        </div>
{% endfor %}
    </div>

</section>

{% endblock content %}
</body>
</html>